<!--底部-->
<div class="footer">
    <div onclick="window.scrollTo(0,0);" class="totop">
        <i class="fa fa-hand-o-up fa-2x"></i>
    </div>
    <div class="nav winwin">
        <ul>
           <ul>
				<!--{range .Menus}-->
				<li>
					<a href="<!--{.Link}-->"><!--{.Title}--></a>
				</li>
				<!--{end}-->
			</ul>
        </ul>
    </div>
    <div class="copyright winwin">
        <p>©&nbsp;2016 lazywe.me 我的世界悄悄的世界</p>
    </div>
</div>
</body>
</html>
<script src="<!--{config "String" "admin.skin" ""}-->/js/jquery-2.1.1.min.js"></script>
