<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>首页</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="<!--{config "String" "home.skin" ""}-->/css/global.css"/>
	<link rel="stylesheet" href="<!--{config "String" "home.skin" ""}-->/css/style.css"/>
	<link rel="stylesheet" href="<!--{config "String" "home.skin" ""}-->/css/font-awesome.min.css"/>
</head>

<body>
	<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!--头部-->
	<div class="header">
		<div class="nav winwin">
            <div class="logo">
              <a href="/"><img src="<!--{config "String" "home.skin" ""}-->/images/logo.png"  alt="LazyWe"/></a>
		    </div>
			<ul>
				<!--{range .Menus}-->
				<li>
					<a href="<!--{.Link}-->"><!--{.Title}--></a>
				</li>
				<!--{end}-->
			</ul>
		</div>
	</div>