<div class="right">

	<!--精品-->
	<div class="boxed">
		<h3>［推荐］一个nb的标题一个nb的标</h3>
		<ul>
			<li>
				<a href=""><i class="fa fa-wpforms"></i>&nbsp;ja</a>
			</li>
			<li>
				<a href=""><i class="fa fa-wpforms"></i>&nbsp;不错哦不错哦不错哦不错哦不错哦不错哦不错哦不错哦</a>
			</li>
			<li>
				<a href=""><i class="fa fa-wpforms"></i>&nbsp;不错哦不错哦不错哦不错哦不错哦不错哦不错哦不错哦</a>
			</li>
			<li>
				<a href=""><i class="fa fa-wpforms"></i>&nbsp;不错哦不错哦不错哦不错哦不错哦不错哦不错哦不错哦</a>
			</li>
			<li>
				<a href=""><i class="fa fa-wpforms"></i>&nbsp;不错哦不错哦不错哦不错</a>
			</li>
		</ul>
	</div>

	<!--精品-->
	<div class="boxed">
		<h3>[推荐]一个nb的标题一个nb的标</h3>
		<ul>
			<li>
				<a href=""><i class="fa fa-wpforms"></i>&nbsp;ja</a>
			</li>
			<li>
				<a href=""><i class="fa fa-wpforms"></i>&nbsp;不错哦不错哦不错哦不错哦不错哦不错哦不错哦不错哦</a>
			</li>
			<li>
				<a href=""><i class="fa fa-wpforms"></i>&nbsp;不错哦不错哦不错哦不错哦不错哦不错哦不错哦不错哦</a>
			</li>
			<li>
				<a href=""><i class="fa fa-wpforms"></i>&nbsp;不错哦不错哦不错哦不错哦不错哦不错哦不错哦不错哦</a>
			</li>
			<li>
				<a href=""><i class="fa fa-wpforms"></i>&nbsp;不错哦不错哦不错哦不错</a>
			</li>
		</ul>
	</div>
</div>