<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">
		<title>登录系统</title>
		<meta name="keywords" content="登录系统">
		<meta name="description" content="登录系统">
		<link href="/static/one/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/one/css/font-awesome.min.css" rel="stylesheet">
		<link href="/static/one/css/animate.min.css" rel="stylesheet">
		<link href="/static/one/css/style.min.css" rel="stylesheet">
		<link href="/static/one/css/toastr.min.css" rel="stylesheet">
	</head>

	<body class="gray-bg">
		<div class="middle-box loginscreen  animated fadeInDown">
			<div>
				<div>
					<h1 class="logo-name text-center">忍</h1>
				</div>
				<h3 class="text-center">学习将会进步</h3>
				<form class="m-t ajax" autocomplete="off" id="form">
					<div class="form-group">
						<input id="username" name="user" class="form-control" type="text" placeholder="账号" aria-required="true" aria-invalid="true" class="error">
					</div>
					<div class="form-group">
						<input id="password" name="pass" class="form-control" placeholder="密码" type="password">
					</div>
					<div class="form-group">
						<button class="btn btn-primary block full-width m-b login" id="showsimple" type="button">登 录</button>
					</div>
				</form>
			</div>
		</div>
		<!-- 全局js -->
		<script src="/static/one/js/jquery-2.1.1.min.js"></script>
		<script src="/static/one/js/bootstrap.min.js"></script>
		<script src="/static/one/js/global.js"></script>
		<script src="/static/one/js/toastr.min.js"></script>
		<script src="/static/one/js/layer/layer.js"></script>
	</body>

</html>