<!--{template "../global/head.html"}-->
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<form id="form" autocomplete="off">
					<div class="ibox-title">
						<h5>类别管理&nbsp;&nbsp;&nbsp;</h5>
					</div>
					<div class="ibox-content">
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th width="8%">排序</th>
										<th>标题</th>
										<th width="15%">创建时间</th>
										<th width="15%">修改时间</th>
										<th width="10%">状态</th>
										<th width="10%">操作</th>
									</tr>
								</thead>
								<tbody>
									<!--{range .Lists}-->
									<tr>
										<td align="left">
											<input class="form-control text-center" type="text" size="5" name="sort[]" value="<!--{.Sort}-->" />
											<input type="hidden" name="id[]" value="<!--{.Id}-->">
										</td>
										<td>
											<!--{.Title}-->
										</td>
										<td>
											<!--{time_format .CreateTime "y-m-d h:i:s"}-->
										</td>
										<td>
											<!--{time_format .UpdateTime "y-m-d h:i:s"}-->
										</td>
										<td>
											<!--{if .State}-->
												<font color="green">启动</font>
											<!--{else}-->
												<font color="red">关闭</font>
											<!--{end}-->
										</td>
										<td>
											<a title="修改" onclick="$.window('修改','<!--{urlfor "CategoryController.EditCategory" "id" .Id}-->')">
												<i class="fa fa-lg  text-navy fa-edit"></i>
											</a>&nbsp;&nbsp;
											<a title="删除" onclick="$.c('确认删除吗？','<!--{urlfor "CategoryController.DelCategory" "id" .Id}-->')">
												<i class="fa fa-lg  text-navy fa-trash"></i>
											</a>
										</td>
									</tr>
									<!--{end}-->
								</tbody>
							</table>
							<a class="btn btn-primary btn-sm" onclick="$.window('添加','<!--{urlfor "CategoryController.AddCategory"}-->')" title="{$bottomval.title}"><i class="fa fa-add"></i> 添加</a>&nbsp;
							<a class="btn btn-primary btn-sm" onclick="$.updatesort('<!--{urlfor "CategoryController.SortCategory"}-->')" title="{$bottomval.title}"><i class="fa fa-add"></i> 更新排序</a>&nbsp;
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>