<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <meta name="renderer" content="webkit">
    <title></title>
    <link href="/static/one/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/one/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/one/css/animate.min.css" rel="stylesheet">
    <link href="/static/one/css/style.min.css" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>后台管理系统</h5>
                    </div>
                    <div class="ibox-content">
                        <p>同时，我们也提供以下服务：</p>
                        <ol>
                            <li>基于LAMP架构</li>
                        </ol>
                    </div>
                </div>
            </div>
    	</div>
    	</div>
    <!-- 全局js -->
    <script src="/static/one/js/jquery-2.1.1.min.js"></script>
    <script src="/static/one/js/bootstrap.min.js"></script>
    <script src="/static/one/js/layer/layer.js"></script>

    <!-- 自定义js -->
    <script src="/static/one/js/content.min.js"></script>
    <!-- 欢迎信息 -->
</body>
</html>