<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>首页</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="<!--{config "String" "home.skin" ""}-->/css/global.css"/>
	<link rel="stylesheet" href="<!--{config "String" "home.skin" ""}-->/css/style.css"/>
	<link rel="stylesheet" href="<!--{config "String" "home.skin" ""}-->/css/font-awesome.min.css"/>
</head>

<body>
	<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!--头部-->
	<div class="header">
		<div class="nav winwin">
            <div class="logo">
              <a href=""><img src=""  alt="none"/></a>
		    </div>
			<ul>
				<li>
					<a href="">Home</a>
				</li>
                <li>
					<a href="">Cordova</a>
				</li>
                <li>
					<a href="">Golang</a>
				</li>
                 <li>
					<a href="">PHP</a>
				</li>
			</ul>
		</div>
	</div>

    <div style="width:100%;height:150px;background:#4183c4;">

    </div>

    <!--详情-->
    <div class="home-panal winwin">
        <div class="left">
            <ul>
                <li>
                    <h3><a href="">PHP中的闭包详解</a></h3>
                    <div class="description">
                        我的世界永远都是那么的漂亮我的世界永远都是那么的漂亮我的世界永远都是那么的漂亮我的世界永远都是那么的漂亮我的世界永远都是那么的漂亮我的世界永远都是那么的漂亮
                    </div>
                    <span class="date"><i class="fa fa-calendar"></i>&nbsp;2016/03/01</span>
                </li>

                <li>
                    <h3><a href="">PHP底层的运行机制与原理</a></h3>
                    <div class="description">
                        我的世界永远都是那么的漂亮我的世界永远都是那么的漂亮我的世界永远都是那么的漂亮
                    </div>
                    <span class="date"><i class="fa fa-calendar"></i>&nbsp;2016/03/01</span>
                </li>
                 <li>
                    <h3><a href="">PHP error_reporting() 错误控制函数功能详解</a></h3>
                    <div class="description">
                        我的世界永远都是那么的漂亮我的世界永远都是那么的漂亮我的世界永远都是那么的漂亮
                    </div>
                    <span class="date"><i class="fa fa-calendar"></i>&nbsp;2016/03/01</span>
                </li>
                 <li>
                    <h3><a href="">我的世界永远都是那么的漂亮</a></h3>
                    <div class="description">
                        我的世界永远都是那么的漂亮我的世界永远都是那么的漂亮我的世界永远都是那么的漂亮
                    </div>
                    <span class="date"><i class="fa fa-calendar"></i>&nbsp;2016/03/01</span>
                </li>
                 <li>
                    <h3><a href="">我的世界永远都是那么的漂亮</a></h3>
                    <div class="description">
                        我的世界永远都是那么的漂亮我的世界永远都是那么的漂亮我的世界永远都是那么的漂亮
                    </div>
                    <span class="date"><i class="fa fa-calendar"></i>&nbsp;2016/03/01</span>
                </li>
                 <li>
                    <h3><a href="">我的世界永远都是那么的漂亮</a></h3>
                    <div class="description">
                        我的世界永远都是那么的漂亮我的世界永远都是那么的漂亮我的世界永远都是那么的漂亮
                    </div>
                    <span class="date"><i class="fa fa-calendar"></i>&nbsp;2016/03/01</span>
                </li>
                 <li>
                    <h3><a href="">我的世界永远都是那么的漂亮</a></h3>
                    <div class="description">
                        我的世界永远都是那么的漂亮我的世界永远都是那么的漂亮我的世界永远都是那么的漂亮
                    </div>
                    <span class="date"><i class="fa fa-calendar"></i>&nbsp;2016/03/01</span>
                </li>
            </ul>
            <div class="page">
                <a class="pager">上一页</a>
                <a class="num">1</a>
                <a class="num">299</a>
                <a class="pager">下一页</a>
            </div>
        </div>
         <div class="right">

             <!--精品-->
              <div class="boxed">
                 <h3>［推荐］一个nb的标题一个nb的标</h3>
                 <ul>
                     <li>
                         <a href=""><i class="fa fa-wpforms"></i>&nbsp;ja</a>
                     </li>
                      <li>
                         <a href=""><i class="fa fa-wpforms"></i>&nbsp;不错哦不错哦不错哦不错哦不错哦不错哦不错哦不错哦</a>
                     </li>
                      <li>
                         <a href=""><i class="fa fa-wpforms"></i>&nbsp;不错哦不错哦不错哦不错哦不错哦不错哦不错哦不错哦</a>
                     </li>
                      <li>
                         <a href=""><i class="fa fa-wpforms"></i>&nbsp;不错哦不错哦不错哦不错哦不错哦不错哦不错哦不错哦</a>
                     </li>
                      <li>
                         <a href=""><i class="fa fa-wpforms"></i>&nbsp;不错哦不错哦不错哦不错</a>
                     </li>
                 </ul>
             </div>
            
            <!--精品-->
              <div class="boxed">
                 <h3>[推荐]一个nb的标题一个nb的标</h3>
                 <ul>
                     <li>
                         <a href=""><i class="fa fa-wpforms"></i>&nbsp;ja</a>
                     </li>
                      <li>
                         <a href=""><i class="fa fa-wpforms"></i>&nbsp;不错哦不错哦不错哦不错哦不错哦不错哦不错哦不错哦</a>
                     </li>
                      <li>
                         <a href=""><i class="fa fa-wpforms"></i>&nbsp;不错哦不错哦不错哦不错哦不错哦不错哦不错哦不错哦</a>
                     </li>
                      <li>
                         <a href=""><i class="fa fa-wpforms"></i>&nbsp;不错哦不错哦不错哦不错哦不错哦不错哦不错哦不错哦</a>
                     </li>
                      <li>
                         <a href=""><i class="fa fa-wpforms"></i>&nbsp;不错哦不错哦不错哦不错</a>
                     </li>
                 </ul>
             </div>

        </div>
    </div>
    
    <!--底部-->
    <div class="footer">
        <a href="javascript:window.scrollTo(0,0)" class="totop">
            <i class="fa fa-hand-o-up fa-2x"></i>
        </a>
        <div class="nav winwin">
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                 <li>
                    <a href="">About</a>
                </li>
                 <li>
                    <a href="">WeiBo</a>
                </li>
            </ul>
        </div>
        <div class="copyright winwin">
            <p>©&nbsp;2016 lazywe.me 我的世界悄悄的世界</p>
        </div>
    </div>
</body>
</html>