<!--{template "../global/header.html" .}-->
<!--banner-->
<div class="banner">
    <div class="winwin container">
        <h3>我的世界悄悄的世界!</h3>
         <p class="other">lazyblog</p>
    </div>
</div>
<!--详情-->
<div class="home-panal winwin">
    <div class="left">
        <ul class="home-ul">
            <!--{range .Blogs}-->
            <li>
                <h3><a href="<!--{urlfor "ArticleController.Article" "id" .Id}-->"><!--{.Title}--></a></h3>
                <div class="description">
                    <!--{.Description}-->
                </div>
                <span class="date"><i class="fa fa-calendar"></i>&nbsp; <!--{time_format .CreateTime "Y/m/d"}--></span>
            </li>
            <!--{end}-->
        </ul>
        <div class="page">
            <a class="pager">上一页</a>
            <a class="num">1</a>
            <a class="num">299</a>
            <a class="pager">下一页</a>
        </div>
    </div>
    <!--{template "../global/right.html" .}-->
     <div class="cl"></div>
</div>
<!--{template "../global/footer.html" .}-->