.header{
    width: 100%;
    margin: 0 auto;
    border-top:5px solid #4183c4;
    border-bottom:1px solid #eee;
    overflow: hidden;
}
.header .nav{
   
    margin: 0 auto;
    overflow: hidden;
}
.header .nav .logo{
    float: left;
}
.header .nav .logo a{
    display: block;
    width:100px;
    height: 48px;
}
.header .nav ul{
    float: right;
    overflow: hidden;
}

.header .nav ul li{
    float: left;
    list-style: none
}

.header .nav ul li a{
    height: 48px;
    line-height: 48px;
    display: block;
    padding: 0 12px;
    font-size: 14px;
    text-decoration: none;
    color: #777
}
.header .nav ul li a:hover{
    color: #000
}

.banner{
     width:100%;
     min-height:110px;
     padding: 20px 0;
     background:#4183c4;
}

.banner .container{
    margin: 0 auto;
    padding-top:1%; 
}
.banner .container h3{
    font-size: 28px;
    color: #fff
}
.banner .container .other{
    margin-top: 10px;
    font-size: 14px;
    color: #fff;
    padding-bottom: 20px;
}
/*首页详情*/
.home-panal{
   
    margin: 0 auto;
}

/*首页详情左侧*/
.home-panal .left{
    float: left;
    width:65%;
    padding:20px 0;
}

.home-panal .left ul.home-ul{
    margin-bottom:10px;
}
.home-panal .left ul.home-ul li{
    padding: 30px 0;
    border-bottom: 1px solid #eee;
    list-style: none
}
.home-panal .left ul.home-ul li h3{
    font-size: 20px;
    margin: 0 0 8px;
}
.home-panal .left ul.home-ul li h3 a{
    text-decoration: none;
     color: #4183c4;
}
.home-panal .left ul.home-ul li h3 a:hover{
    text-decoration: underline;
    color: #418fff;
}

.home-panal .left ul.home-ul li .description{
    color: #666;
    width: 90%;
    font-size: 14px;
    margin-top: 8px;
}

.home-panal .left ul.home-ul li .date{
    color: #888;
    display: block;
    letter-spacing:1px;
    font-size: 13px;
    margin-top: 12px;
}


/*首页详情右侧*/
.home-panal .right{
    float: left;
    width:35%;
    padding-top: 20px;
}

.home-panal .right .boxed{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    border:1px solid #ddd;
    border-radius: 3px;
}

.home-panal .right .boxed h3{
   background: #f5f5f5;
   font-size: 14px;
   padding: 10px 10px;
}

.home-panal .right .boxed ul li{
    list-style: none;
    border-top: 1px solid #eee;
    height:25px;
    padding: 8px 8px;
    line-height: 25px;
}
.home-panal .right .boxed ul li a{
    display: block;
    letter-spacing: 0.5px;
    font-size: 13px;
    text-decoration: none;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    color: #4183c4;
}
.home-panal .right .boxed ul li a i{
    color: #333;
    font-size: 15px;
}
.home-panal .right .boxed ul li a:hover{
    text-decoration:underline;
}

/*分页*/
.page{

}
.page a{
    cursor: pointer;
    font-size: 12px;
    display: inline-block;
    border: 1px solid #ddd;
    line-height: 30px;
    text-align: center;
    height:30px;
    text-decoration: none;
    color: #666;
}
.page a.pager{
    padding: 0 8px;
}
.page a.num{
    width:30px;
}
.page a.pager:hover,.page a.num:hover,.page a.active{
    border-color: #418fff !important;
    background: #418fff !important;
    color: #fff !important;
}

/*底部*/
.footer{
    padding: 20px 0;
    margin-top:20px;
    width: 100%;
    background: #f5f5f5;
    border-top:1px solid #eee;
}
.footer .nav,.footer .copyright{
    margin: 0 auto;
}

.footer .nav ul{
    overflow: hidden;
}
.footer .nav ul li{
    list-style: none;
    float: left;
    padding: 4px 0;
    margin-right: 20px;
}

.footer .nav ul li a{
    display: block;
    color: #777;
    text-decoration: none;
    font-size: 14px;
}
.footer .nav ul li a:hover{
    color: #454545;
}

.footer .copyright{
    margin: 10px auto;
}

.footer .copyright p{
    color: #333
}
.footer .totop{
    display: block;
    text-decoration: none;
    cursor: pointer;
    position: fixed;
    right: 20%;
    bottom: 14%;
    width:50px;
    height:50px;
    text-align: center;
    line-height: 4em;
    border-radius: 100px;
    background: #418fff
}
.footer .totop i{
    color: #fff;
}


/*********************************   media   ******************************/
/*********************************   media   ******************************/
/*********************************   media   ******************************/
/*********************************   media   ******************************/
@media screen and (max-width: 1000px) {
     .home-panal .right, .home-panal .left {
        float: inherit;
        width:100%;
        margin:  0 auto;
    }
    .home-panal .left ul.home-ul li .description{
        width:100%;
    }
    .home-panal .right .boxed{
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
        border:1px solid #ddd;
        border-radius: 3px;
    }
   .footer .totop{
       right: 10%;
   }
}




/*************************  article  *************************/
/*************************  article  *************************/
/*************************  article  *************************/
/*************************  article  *************************/
/*************************  article  *************************/
.article{
    padding-top:50px !important;
    min-height: 600px;
}